.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}


.title {
  text-align: center;
}

.box {
  align-self: center;
  width: 20%;
}

.name {
  text-align: center;
}
